header{
    padding: 10px
}
header > div{
    height: 60px;
    background-color: #e4f9f4;
    border: #8dcbbe 2px solid
}
.home_icon{
    width: 60px;
    height: 56px;
    border-right: #e0eae9 3px solid
}
.home_icon img{
    width: 38px;
    height: 38px;
    margin-top: 8px
}
.nav_bar{
    padding: 0px;
    list-style: none;
}
.nav_bar_item{
    display: inline-block;
    border-right: #e0eae9 3px solid;
    padding: 5px
}
.nav_bar_item > div{
    position: relative;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    font-family: "Raleway";
    line-height: 26px;
    text-transform: none;
    letter-spacing: 0px;
    color: #5d5d5d;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px
}
.nav_bar_item > div:hover{
    background-color: #2ca6d9;
    color: white
}
.sub_menu{
    background-color: #e4f9f4;
    border: #8dcbbe 2px solid;
    padding: 0px;
    list-style: none;
    display: none
}
.sub_menu_item{
    width: 100%;
    border-bottom: #e0eae9 3px solid;
    color: #5d5d5d;
    padding: 5px;
}
.sub_menu_item > div{
    position: relative;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    font-family: "Raleway";
    line-height: 26px;
    text-transform: none;
    letter-spacing: 0px;
    color: #5d5d5d;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px
}

.sub_menu_item > div:hover{
    background-color: #2ca6d9;
    color: white
}
.sub_menu_item .sub_menu{
    left: 300px;
    top: 0;
}
.social_media img{
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px
}
.nav_bar_item > div > img{
    width: 20px;
    height: 20px;
    float: left
}
.menu_icon img{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 20px
}
.menu_icon{
    display: none
}
.mobile_status{
    font-weight: 500;
    font-size: 18px;
    font-family: "Raleway";
    line-height: 26px;
    text-transform: none;
    letter-spacing: 0px;
    color: #5d5d5d;
    display: none;
    padding-left: 50px;
    padding-top: 15px
}
@media(min-width: 800px){
    .nav_bar_item{
        height: 100%
    }
    .nav_bar{
        height: 56px;
    }
    .sub_menu{
        position: absolute;
        top: 60px;
        left: 0;
        width: 300px;    
    }
    .sub_menu_item{
        height: 60px;
    }
}
@media(max-width: 800px){
    .menu_icon{
        display: inline-block;
    }
    .nav_bar{
        position: fixed;
        left: 10px;
        top: 75px;
        bottom: 0;
        border: #8dcbbe 2px solid;
        background-color: #e4f9f4;
        width: 300px;
        overflow-y: scroll;
        display: none;
    }
    .nav_bar_item{
        display: block;
        width: 100%;
        border: none;
        min-height: 60px;
        border: #e0eae9 3px solid;
        margin-top: 10px
    }
    .nav_bar_item div{
        padding: 0px
    }
    .nav_bar_item > div{
        padding-top: 15px;
        padding-bottom: 15px
    }
    .nav_bar_item > div > img{
        margin-left: 20px;   
    }
    .home_icon{
        border: none;
    }
    .social_media{
        position: fixed;
        right: 10px;
        top: 100px;
        background-color: #e4f9f4;
        border: #8dcbbe 2px solid;
        padding: 2px
    }
    .social_media img{
        display: block;
        margin: 0px;
        margin-bottom: 10px
    }
    .mobile_status{
        display: inline-block
    }
}